<main>
    <h1>Contact Us</h1>
    <div class="card">
        <div class="x-icon">
            <fa-icon [icon]="x" (click)="close()"></fa-icon>
        </div>
        <ul>
            <li>
                <fa-icon [icon]="phone" class="phone"></fa-icon>
                <a>347 680 7676</a>
            </li>
            <li>
                <fa-icon [icon]="mail" class="mail"></fa-icon>
                <a>progrushacademy@gmail.com</a>
            </li>
            
        </ul>
    </div>
</main>