<main>
    <div (click)="close()" [@contactAnimation]="contactAnim" class="contact-wrap" *ngIf="contact">
        <app-contact></app-contact>
    </div>
    <app-navbar></app-navbar>
    <app-home></app-home>
    <footer>
        <ul>
            <li>
                <fa-icon [icon]="fb"></fa-icon>
                <a href="https://www.facebook.com/profile.php?id=100093607845851">facebook</a>
            </li>
            <li>
                <fa-icon [icon]="email"></fa-icon>
                <a>progrushacademy@gmail.com</a>
            </li>
            <li>
                <fa-icon [icon]="phone"></fa-icon>
                <a>347 680 7676</a>
            </li>
        </ul>
    </footer>
</main>