<main>
    <div (click)="close($event)" [@contactAnimation]="contactAnim" class="contact-wrap" *ngIf="contact">
        <app-apply (click)="innerClick($event)"></app-apply>
        <!-- <app-contact (click)="outerClick($event)"></app-contact> -->
    </div>

    <section class="messages-wrap-main" (click)="openMessage()">
        <div class="messages-wrap messages-wrap-open">
            <fa-icon class="message-icon" *ngIf="!messageOpen" [icon]="message"></fa-icon>
            <div *ngIf="messageOpen">
                <app-messages></app-messages>
            </div>
        </div>
    </section>
    
    <app-navbar></app-navbar>
    <app-home></app-home>

    <footer>
        <ul>
            
            <li>
                <fa-icon [icon]="email"></fa-icon>
                <a>progrushacademy@gmail.com</a>
            </li>
            <li>
                <fa-icon [icon]="phone"></fa-icon>
                <a>+1 347 680 7676</a>
            </li>
        </ul>
    </footer>
</main>

