main{
    min-width: 250px;
    position: relative;
    background-color: white;
}
.contact-wrap{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 101;
    /* transition: 300ms; */
}
footer{
    border-top: 3px solid orange;
    padding: 70px 120px 30px 120px;
}
ul{
    display: flex;
}
li{
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    
    color: var(--blue);
    transition: 200ms;
}
li:hover{
    color: rgb(31, 19, 204)
}
a{
    color: var(--blue);
    text-decoration: none;
    display: inline-block;
    padding-left: 8px;
}

/* messages */

.messages-wrap-main{
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 99;
    display: flex;
    background: white;
    transition: 400ms cubic-bezier(.3, -0.15, 0.265, 1);
    box-shadow: 0 3px 7px rgb(210, 210, 210);
}
.messages-wrap-main::before{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 1;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: linear-gradient(45deg, var(--orange), var(--pink));
}
.messages-wrap{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: white;
}
.messages-wrap-open{
    overflow: hidden;
    width: 330px;
    height: 70vh;
    border-radius: 25px 25px 2px 25px;
    flex-direction: column;
}
.messages-wrap-open::before{
    display: none;
}
.messages-wrap-closed{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.message-icon{
    color: var(--pink);
    font-size: 23px;
}
.zeroWidth{
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
}
.close-wrap{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 0 10px rgb(229, 229, 229);
}
.messenger-name{
    padding-left: 3px;
    font-size: 20px;
    user-select: none;
    font-weight: bold;
    color: var(--pink);
    text-shadow: 0 0 3px rgb(255 197 209);
}
.close-icon{
    color: var(--pink);
    padding: 5px 12px;
    cursor: pointer;
    display: block;
}

.finding{
    display: block;
    font-size: 12px;
    color: grey;
    padding: 5px 0 0 47px;
}
.amount-not-read{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-300%, -50%);
    font-weight: bold;
    color: orangered;
}

@media screen and (max-width: 1000px) {
    ul{
        justify-content: center;
        flex-wrap: wrap;
    }
    footer{
        padding: 40px;
    }
}
@media screen and (max-width: 400px) {
    footer{
        padding: 40px 10px;
        justify-content: space-between;
    }
}