main{
    min-width: 250px;
    position: relative;
}
.contact-wrap{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100svh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 101;
    transition: 300ms;
}