<main>
    <div (click)="close($event)" [@contactAnimation]="contactAnim" class="contact-wrap" *ngIf="contact">
        <app-apply (click)="innerClick($event)"></app-apply>
        <!-- <app-contact (click)="outerClick($event)"></app-contact> -->
    </div>

    <section class="messages-wrap-main" [ngClass]="messageOpen ? 'messages-wrap-open' : 'messages-wrap-closed'" (click)="openMessage($event, true)">
        <div class="messages-wrap" *ngIf="!messageOpen">
            <fa-icon class="message-icon" [icon]="message"></fa-icon>    
        </div>
        <!-- blocks -->
        <div class="close-wrap" *ngIf="messageOpen">
            <span class="messenger-name">Michael</span>
            <fa-icon [icon]="closeIcon" class="close-icon" (click)="openMessage($event, false)"></fa-icon>
        </div>
        <div [ngClass]="{'zeroWidth': !messageOpen}">
            <app-messages></app-messages>
        </div>
    </section>
    
    <app-navbar></app-navbar>
    <app-home></app-home>

    <footer>
        <ul>
            
            <li>
                <fa-icon [icon]="email"></fa-icon>
                <a>progrushacademy@gmail.com</a>
            </li>
            <li>
                <fa-icon [icon]="phone"></fa-icon>
                <a>+1 347 680 7676</a>
            </li>
        </ul>
    </footer>
</main>

