*{
    font-family: sans-serif;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
body{
    margin: 0
}
:root{
    --blue: rgb(92,80,255);
    --pink: rgb(255,58,96);
    --orange: rgb(255,190,46);
}