*{
    box-sizing: border-box;
}
main{
    position: relative;
}
.nooverflow{
    height: 100vh;
    overflow: hidden;
}
.animation-wrap-wrap{
    height: 100svh;
    width: 100vw;
    max-height: 100svh !important;
    perspective: 100px;
    transform-style: preserve-3d;
    overflow: hidden;
    position: absolute;
    z-index: 100;
}
.animation-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.anim-word{
    font-size: 60px;
    position: absolute;
    text-align: center;
}
.second{
    z-index: 10;
}
.hero{
    position: relative;
    z-index: 5;
    overflow: hidden;
}
.hero-image-wrap{
    position: relative;
    background-size: cover;
    background-position: center -50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(https://cdn.discordapp.com/attachments/1008571121743962212/1118999524984234155/rustavi_2_a_programmer_sitting_on_a_cliff_in_space_and_coding_w_0ec6ce8a-255d-4a67-93ac-b39e61661650.png);
    height: 100svh;
    min-height: 600px;
    transition: 700ms;
}
.hero-icon{
    color: orangered;
    font-size: 17px;
}

.hero-image-wrap::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 10;
}

.text-wrap{
    width: 50%;
    position: absolute;
    left: 8%;
    top: 20%;
    z-index: 11;
}
.hero-header{
    font-size: 67px;
}
.hero-header span{
    background: linear-gradient(to bottom, var(--blue), var(--pink), var(--orange));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
}
.advantages-wrap-main{
    position: absolute;
    right: 8%;
    top: 25%;
    width: 37%;
    height: 300px;
    perspective: 240px;
    transform-style: preserve-3d;
    z-index: 11;
}
.advantages-wrap{
    transform: rotate3d(.5,-1,0,12deg) rotate(-1deg);
    
}

.left-adv-wrap{
    width: 35%;
    border-radius: 7px;
    position: absolute;
    left: 8%;
    top: 24%;
    z-index: 11;
    padding: 20px;
    box-shadow: -3px 2px 10px rgb(0, 0, 0);
    border: 1px solid rgb(148, 146, 146);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px );
}
.left-adv-header{
    padding-bottom: 35px;
    font-size: 35px;
    background: linear-gradient(to right, var(--blue), var(--pink), var(--orange));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left-adv-span{
    font-size: 23px;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
    padding: 0 5px;
}
.left-adv-ul{
    margin: 0;
    padding: 0;
    box-shadow: -3px 2px 10px rgb(0, 0, 0);
    border: 1px solid rgb(148, 146, 146);
    padding: 10px 15px;
    border-radius: 5px;
}
.left-adv-li{
    padding: 8px 10px 10px 10px; 
    border-radius: 50px;
    margin: 15px 0;
    font-size: 22px;
    list-style: none;
    display: flex;
    align-items: center;
    min-width: 320px;
    width: max-content;
}
.left-adv-li:nth-child(1){
    background-color: var(--blue);
}
.left-adv-li:nth-child(2){
    background-color: var(--pink);
}
.left-adv-li:nth-child(3){
    background-color: var(--orange);
}
.hero-icon-wrap{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* facts */

.facts{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 350px; */
    position: relative;
    padding: 30px;
}
.facts-shadow{
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;
    background-color: black;
    width: 100%;
}
.facts-down{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    position: relative;
    z-index: 2;
}
.facts-wrap{
    display: flex;
    justify-content: center;
    width: 100%;
}
.fact{
    margin: 0 15px;
    width: 280px;
    background: white;
    box-shadow: 0.0625rem 0.0625rem 0.5rem rgba(91, 91, 91, 0.3);
    padding: 30px 20px 40px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.fact-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fact-wrap fa-icon{
    font-size: 34px;
   
}
.fact-number,.fact-text{
    text-align: center;
}
.fact-number{
    font-size: 42px;
    font-weight: bold;
    margin: 12px 0 11px 0;
}
.fact-text{
    font-size: 23px;
    padding-bottom: 15px;
}
.according-to{
    text-decoration: underline #646464;
    font-size: 13px;
    text-underline-offset: 4px;
}
.facts-header{
    color: white;
    font-size: 65px;
    padding-bottom: 40px;
}
.mainline{
    height: calc(100% - 100vh);
    position: absolute;
    top: 100vh;
    left: 100px;
    width: 3px;
    background: linear-gradient(to bottom, var(--blue), var(--pink), var(--orange));
    z-index: 2;
}
.facts-mainline{
    height: 3.5px;
    width: calc(50% + 100px);
    position: absolute;
    top: 370px;
    left: 100px;
    background: linear-gradient(to right, var(--blue), var(--pink), rgb(255, 255, 0));
    /* background: linear-gradient(to right, rgb(230, 51, 87), var(--blue), var(--orange)); */
    z-index: 1;
}


@media screen and (max-width: 1250px){
    .mainline, .facts-mainline{
        left: 20px;
    }
    .hero-image-wrap{
        background-position: center;
    }
    .advantages-wrap-main{
        width: 50%;
        right: 0%;
    }
    .left-adv-wrap{
        left: 3%;
        width: 43%;
    }
}

@media screen and (max-width: 1000px){
    .left-adv-wrap{
        width: 50%;
    }
    .advantages-wrap-main{
        right: 5%;
        width: 35%;
    }
    .facts-header, .hero-header{
        font-size: 55px;
    }
    .hero-header span{
        display: inline;
    }
    .fact{
        padding: 20px 10px 30px 10px;
        width: 240px;
        margin: 0 10px;
    }
    .left-adv-li{
        width: 100%;
        min-width: auto;
    }
    .left-adv-span{
        font-size: 17px;
    }
}
@media screen and (max-width: 850px){
    .facts-wrap{
        flex-direction: column;
        align-items: center;
    }
    .fact{
        height: 240px;
        width: 80%;
        margin: 8px 0;
    }
    .facts-mainline{
        width: calc(50% - 20px);
    }
    .facts-header{
        text-align: center;
    }

}

@media screen and (max-width: 780px){
    .left-adv-wrap{
        width: 45%;
        left: 15px;
        padding: 12px;
        top: 30%;
    }
    .left-adv-ul{
        padding: 12px;
    }
    .left-adv-li{
        padding: 7px;
    }
    .left-adv-header{
        font-size: 30px;
    }
    .advantages-wrap-main{
        width: 50%;
        right: 0;
        top: 34%;
    }
    .hero-header{
        font-size: 45px;
    }
    .hero-header span{
        display: block;
    }
}
@media screen and (max-width: 703px){
    .facts-down{
        padding-top: 30px;
    }
    .advantages-wrap-main{
        top: 12%;
        right: -10%;
        width: 100%;
    }
    .left-adv-header{
        font-size: 30px;
    }
    .left-adv-span{
        font-size: 20px;
    }
    .advantages-wrap{
        display: flex;
        justify-content: center;
    }
    .left-adv-wrap{
        width: 80%;
        top: 45%;
        z-index: 100;
        left: 50%;
        transform: translateX(-50%);
    }
    .mainline{
        height: calc(100% - 100vh + 40px);
    }
}

@media screen and (max-width: 600px){
    .facts-down{
        padding-top: 100px;
    }
    .facts{
        padding: 15px;
    }
    .facts-mainline{
        bottom: -60px;
    }
    .facts-header{
        font-size: 42px;
    }
    .fact-number{
        font-size: 34px;
    }
    .fact-text{
        font-size: 20px;
    }
}

@media screen and (max-width: 500px){
    .left-adv-wrap{
        width: calc(100% - 30px);
    }
    .hero-header{
        font-size: 40px;
    }
    .advantages-wrap-main{
        right: 0;
    }
}
@media screen and (max-width: 415px){
    .anim-word{
        font-size: 45px;
    }
    .facts-down{
        padding-top: 40px;
    }
    .fact{
        width: 90%;
    }
    .mainline, .facts-mainline{
        left: 7px;
    }
    .mainline{
        width: 3px;
    }
}