*{
    box-sizing: border-box;
}
main{
    position: relative;
}
.animation-wrap-wrap{
    height: 100svh;
    max-height: 100svh !important;
    perspective: 100px;
    transform-style: preserve-3d;
    overflow: hidden;
}
.animation-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.anim-word{
    font-size: 60px;
    position: absolute;
}
.second{
    z-index: 10;
}
.hero{
    position: relative;
    z-index: 5;
    overflow: hidden;
}
.hero-image-wrap{
    position: relative;
    background-size: cover;
    background-position: center -50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(https://cdn.discordapp.com/attachments/1008571121743962212/1118999524984234155/rustavi_2_a_programmer_sitting_on_a_cliff_in_space_and_coding_w_0ec6ce8a-255d-4a67-93ac-b39e61661650.png);
    height: 100svh;
    transition: 700ms;
}

.hero-image-wrap::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 10;
}

.text-wrap{
    width: 50%;
    position: absolute;
    left: 8%;
    top: 20%;
    z-index: 11;
}
.hero-header{
    font-size: 62px;
    color: white;
    /* text-align: center; */
}
.advantages-wrap-main{
    position: absolute;
    right: 8%;
    top: 25%;
    width: 30%;
    height: 300px;
    perspective: 240px;
    transform-style: preserve-3d;
    z-index: 11;
}
.advantages-wrap{
    transform: rotate3d(.5,-1,0,12deg) rotate(-1deg);
    
}

.left-adv-wrap{
    width: 35%;
    height: 320px;
    border-radius: 7px;
    background-color:white;
    position: absolute;
    left: 8%;
    top: 24%;
    z-index: 11;
    padding: 20px;
}
.left-adv-header{
    padding-bottom: 18px;
    font-size: 30px;
}
.left-adv-span{
    font-size: 29px;
    display: inline-block;
    padding: 0 5px;
}
.left-adv-ul{
    margin: 0;
    padding: 0;
}
.left-adv-li{
    padding: 8px 0;
    font-size: 22px;
    list-style: none;
}
.check-icon{
    color: rgb(55, 234, 24);
}
/* facts */

.facts{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 350px; */
    position: relative;
    padding: 30px;
}
.facts-shadow{
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;
    background-color: black;
    width: 100%;
}
.facts-down{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    position: relative;
    z-index: 2;
}
.facts-wrap{
    display: flex;
    justify-content: center;
    width: 100%;
}
.fact{
    margin: 0 15px;
    width: 280px;
    background: white;
    box-shadow: 0.0625rem 0.0625rem 0.5rem rgba(91, 91, 91, 0.3);
    padding: 30px 20px 40px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.fact-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fact-wrap fa-icon{
    font-size: 34px;
   
}
.fact-number,.fact-text{
    text-align: center;
}
.fact-number{
    font-size: 42px;
    font-weight: bold;
    margin: 12px 0 11px 0;
}
.fact-text{
    font-size: 23px;
    padding-bottom: 15px;
}
.according-to{
    text-decoration: underline #646464;
    font-size: 13px;
    text-underline-offset: 4px;
}
.facts-header{
    color: white;
    font-size: 65px;
    padding-bottom: 40px;
}
.mainline{
    height: 100%;
    position: absolute;
    top: 100vh;
    left: 100px;
    width: 3px;
    background: linear-gradient(to bottom, var(--blue), var(--pink), var(--orange));
    z-index: 2;
}
.facts-mainline{
    height: 3.5px;
    width: calc(50% + 340px);
    position: absolute;
    top: 370px;
    left: 100px;
    /* background: linear-gradient(to right, var(--blue), var(--pink), rgb(255, 255, 0)); */
    background: linear-gradient(to right, rgb(230, 51, 87), var(--blue), var(--orange));
    z-index: 1;
}


@media screen and (max-width: 1250px){
    .mainline, .facts-mainline{
        left: 20px;
    }
}

@media screen and (max-width: 1000px){
    .facts-header{
        font-size: 55px;
    }
    .fact{
        padding: 20px 10px 30px 10px;
        width: 240px;
        margin: 0 10px;
    }
   
}

@media screen and (max-width: 850px){
    .facts-wrap{
        flex-direction: column;
        align-items: center;
    }
    .fact{
        height: 240px;
        width: 80%;
        margin: 8px 0;
    }
    .facts-mainline{
        width: calc(50% - 20px);
    }
    .facts-header{
        text-align: center;
    }

}
@media screen and (max-width: 703px){
    .facts-down{
        padding-top: 30px;
    }
}
@media screen and (max-width: 600px){
    .facts-down{
        padding-top: 100px;
    }
    .facts{
        padding: 15px;
    }
    .facts-mainline{
        bottom: -60px;
    }
    .facts-header{
        font-size: 42px;
    }
    .fact-number{
        font-size: 34px;
    }
    .fact-text{
        font-size: 20px;
    }
}
@media screen and (max-width: 415px){
    .facts-down{
        padding-top: 40px;
    }
    .fact{
        width: 90%;
    }
    .mainline, .facts-mainline{
        left: 7px;
    }
    .mainline{
        width: 3px;
    }
}