<main>
    <div class="animation-wrap-wrap" *ngIf="!animEnded">
        <section class="animation-wrap" [@mainAnim]="animWrap" *ngIf="!animEnded">
            <h1 class="first anim-word" #first [@first]="firstWord">Want To Learn How To Code?</h1>
            <h1 class="second anim-word" #second [@second]="secondWord">
                Good Choice.
            </h1>
        </section>
    </div>





    <div class="mainline"></div>
    <section class="hero">
        <div class="hero-image-wrap"></div>
    </section>
    <section class="facts">
        <div class="facts-mainline"></div>
        <div class="facts-down">
            <h1 class="facts-header">Web Development Facts</h1>
            <div class="facts-wrap">
                <div class="fact">
                    <div class="fact-wrap one">
                        <fa-icon [icon]="wallet" style="color: var(--blue)"></fa-icon>
                        <h1 class="fact-number">$87,739</h1>
                        <div class="fact-text">AVG Salary</div>
                    </div>
                    <div class="according-to">ZipRecruiter</div>
                </div>
                <div class="fact">
                    <div class="fact-wrap two">
                        <fa-icon [icon]="people" style="color: var(--pink)"></fa-icon>
                        <h1 class="fact-number">105,000+</h1>
                        <div class="fact-text">Jobs On a Single Platform</div>
                    </div>
                    <div class="according-to">ZipRecruiter</div>
                </div>
                <div class="fact">
                    <div class="fact-wrap three">
                        <fa-icon [icon]="growth" style="color: var(--orange)"></fa-icon>
                        <h1 class="fact-number" >30.3%</h1>
                        <div class="fact-text">Est. Job Growth between 2021 - 2031</div>
                    </div>
                    <div class="according-to">The Bureau of Labor Statistics</div>
                </div>
            </div>
        </div>
    </section>
</main>