
h2{
    padding-bottom: 15px;
    text-align: center;
    background: linear-gradient(to bottom, var(--blue), var(--pink), var(--orange));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    height: max-content;
}
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input, select {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
    box-sizing: border-box;
  }
  select{
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
  }

  .button-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  button {
    width: 100%;
    padding: 10px 0;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    cursor: not-allowed;
  }
  
  .error{
    color: red;
    padding: 5px 10px;
  }
  .messages{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 40px 20px;
    border-radius: 10px;
  }
  .line-wrap,
  .message-wrap{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
  }
  .message-wrap{
    justify-content: center;
  }
  .message-wrap h4{
    text-align: center;
  }
  .line{
    transform-origin: left;
    transition: 3s linear;
    width: 100%;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, var(--blue), var(--pink), var(--orange));
  }







*{
    box-sizing: border-box;
}
main{
    
    position: relative;
}
.card{
    width: 100%;
    background: white;
    padding-top: 20px;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    padding: 7px 10px;
    transition: 200ms;
    border-radius: 4px;
}

li:hover{
    background: rgb(239, 239, 239);
}
a{
    text-decoration: none;
    display: inline-block;
    padding-left: 10px;
    color: black;
}
.mail{
    color: var(--pink);
}
.phone{
    color: var(--orange) !important;
}
.fb{
    color: var(--blue) !important;
}
.x-icon{
    display: flex;
    justify-content: flex-end;
    color: var(--pink);
    padding-bottom: 5px;
}
.x-icon fa-icon{
    cursor: pointer;
    padding: 0 10px;
}


@media screen and (max-width: 650px){
    main{
      padding: 10px;
    }
}

@media screen and (max-width: 430px){
  .form-container{
    width: 100%;
  }
}

@media screen and (max-width: 350px){
  main{
    padding: 20px;
  }
}