<main>
    <div class="messages" *ngIf="message != ''">
        <div class="message-wrap">
            <h4>{{message}}</h4>
        </div>
        <div class="line-wrap">
            <div class="line" #line></div>
        </div>
    </div>
    <div class="form-container">
        <h2>Apply</h2>
        <form (ngSubmit)="submitForm()" [formGroup]="form">

          <div class="form-group-main">
                <div class="form-group">
                    <input type="text" id="name" name="name" formControlName="name" placeholder="Full Name">

                    <div class="error-wrap" *ngIf="form.controls['name'].invalid && 
                        (form.controls['name'].dirty || form.controls['name'].touched)">
                        <div class="error" *ngIf="form.controls['name'].errors['maxlength']">Name can't have more than 50 chracters</div>
                        <div class="error" *ngIf="form.controls['name'].errors['required']">Name is required</div>
                    </div>
                    
                </div>
          
                <div class="form-group">
                    <input type="email" id="email" name="email" formControlName="email" placeholder="Email">

                    <div class="error-wrap" *ngIf="form.controls['email'].invalid && 
                        (form.controls['email'].dirty || form.controls['email'].touched)">
                        <div class="error" *ngIf="form.controls['email'].errors['maxlength']">Email can't have more than 50 chracters</div>
                        <div class="error" *ngIf="form.controls['email'].errors['minlength']">Email can't have less than 6 characters</div>
                        <div class="error" *ngIf="form.controls['email'].errors['required']">Email is required</div>
                        <div class="error" *ngIf="form.controls['email'].errors['email']">Invalid email format</div>
                    </div>
                </div>
              
                <div class="form-group">
                    <input type="tel" id="phone" name="phone" formControlName="phone" placeholder="Phone">

                    <div class="error-wrap" *ngIf="form.controls['phone'].invalid && 
                        (form.controls['phone'].dirty || form.controls['phone'].touched)">
                        <div class="error">Invalid Phone Number</div>
                    </div>
                </div>

                <div class="form-group">
                    <select formControlName="course">
                        <option value="" selected>Select Course</option>
                        <option value="frontend">Front End</option>
                        <option value="fullstack">Full Stack</option>
                        <option value="junior">Junior Academy (10-15 years)</option>
                    </select>
                    <div class="error-wrap" *ngIf="form.controls['course'].invalid && 
                        (form.controls['course'].dirty || form.controls['course'].touched)">
                        <div class="error">Select a course</div>
                    </div>
                </div>
          </div>
      
          <div class="button-wrap">
            <button type="submit" [disabled]="!form.valid">Submit</button>
          </div>

          <div class="card">
            <ul>
                <li>
                    <fa-icon [icon]="phone" class="phone"></fa-icon>
                    <a>347 680 7676</a>
                </li>
                <li>
                    <fa-icon [icon]="mail" class="mail"></fa-icon>
                    <a>progrushacademy@gmail.com</a>
                </li>
                
            </ul>
        </div>
        </form>
    </div>

    

</main>