<main>
    <div class="plan">
        <h1 class="title">Front End Development (20 weeks)</h1>

        <span class="time-stamp"><b>Weeks 1-2 :</b> Introduction to HTML and CSS</span>
        <div class="learning-details">
            <li class="detail-li"><span class="detail-span">Learn the basics of HTML tags, attributes, and structure</span></li>
            <li class="detail-li"><span class="detail-span">Understand CSS selectors, properties, and styling techniques</span></li>
        </div>

        <span class="time-stamp"><b>Weeks 3-4 :</b> Intermediate HTML and CSS</span>
        <div class="learning-details">
            <li class="detail-li"><span class="detail-span">Dive deeper into HTML5 features and semantic markup</span></li>
            <li class="detail-li"><span class="detail-span">Explore advanced CSS concepts such as flexbox and grid layouts</span></li>
        </div>

        <span class="time-stamp"><b>Weeks 5-6 :</b> Responsive Web Design</span>
        <div class="learning-details">
            <li class="detail-li"><span class="detail-span">Understand the principles of responsive web design</span></li>
            <li class="detail-li"><span class="detail-span">Learn how to create mobile-friendly layouts using media queries and CSS frameworks</span></li>
        </div>

        <span class="time-stamp"><b>Weeks 7-8 :</b> JavaScript Fundamentals</span>
        <div class="learning-details">
            <li class="detail-li"><span class="detail-span">Cover the fundamentals of JavaScript programming language</span></li>
            <li class="detail-li"><span class="detail-span">Learn about variables, data types, functions, and control flow</span></li>
        </div>

        <span class="time-stamp"><b>Weeks 9-10 :</b> Advanced JavaScript & Project</span>
        <div class="learning-details">
            <li class="detail-li"><span class="detail-span">Explore more complex JavaScript concepts like objects, arrays, and prototypes</span></li>
            <li class="detail-li"><span class="detail-span">Learn about DOM manipulation and event handling</span></li>
            <li class="detail-li"><span class="detail-span">Create a real life project with HTML, CSS and JavaScript</span></li>
        </div>
        
        <span class="time-stamp"><b>Weeks 11-13 :</b> Introduction to Front End Frameworks</span>
        <div class="learning-details">
            <li class="detail-li"><span class="detail-span">Dive into popular front-end framework like Angular</span></li>
            <li class="detail-li"><span class="detail-span">Learn the basics of component-based development</span></li>
        </div>

        <span class="time-stamp"><b>Weeks 14-18 :</b> Advanced Front End Framework Concepts</span>
        <div class="learning-details">
            <li class="detail-li"><span class="detail-span">Explore the fundamentals of State Management</span></li>
            <li class="detail-li"><span class="detail-span">Learn the importance of testing in web development</span></li>
            <li class="detail-li"><span class="detail-span">Cover the basics of Server Side Rendering</span></li>
            <li class="detail-li"><span class="detail-span">Understand component lifecycle and data flow</span></li>
        </div>

        <span class="time-stamp"><b>Weeks 19-20:</b> Final Project</span>
        <div class="learning-details">
          <li class="detail-li"><span class="detail-span">Create a Final Project and enhance your portfolio</span></li>
          <li class="detail-li"><span class="detail-span">Engage in open discussions and seek clarification on concepts</span></li>
        </div>

        








        
    </div>
</main>