<main #main>
    <h1 class="main-title">Paths</h1>
    <h2 class="sub-title"><span>Learning from mentors has never been </span> <span> this affordable.</span></h2>
    
    <h2 class="plan-age">Childrens' Education (10-15)</h2>
    <span class="quote"><em>Make your Childrens' screen time more productive</em></span>
    
    <div class="plan-wrap">
        <div class="plan">
            <div class="top-info-wrap"
            style="background-image: url(../../assets/tech1.png);">
                <div class="top-info-before"></div>
                <span class="sale">
                    Sale Ends in 2d
                </span>
                <div class="top-info">
                    <h1 class="title">Junior Academy</h1>
                    <h2 class="course-price">
                        <span class="discount linethrough">$400</span>
                        <span class="discount">$149/month</span>
                    </h2>
                    <span class="continue red">first 3 classes for FREE</span>
                    
                    <div class="interact-wrap">
                        <button class="interact" (click)="contact()">Apply</button>
                    </div>
                </div>
            </div>
    
            <div class="stamp-wrap">
    
                <span class="time-stamp">
                    <div class="title-wrap"> 
                        <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                        <span class="skill-name">Web Development with HTML & CSS</span>
                    </div>
                </span>

                <span class="time-stamp">
                    <div class="title-wrap"> 
                        <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                        <span class="skill-name">UI & UX Web Design</span>
                    </div>
                </span>

                <span class="time-stamp">
                    <div class="title-wrap">
                        <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                        <span class="skill-name">2D Modeling & Animation</span>
                    </div>
                </span>

                <span class="time-stamp">
                    <div class="title-wrap">
                        <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                        <span class="skill-name">Python Fundamantals</span>
                    </div>
                </span>

                <span class="time-stamp">
                    <div class="title-wrap">
                        <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                        <span class="skill-name">Photo & Video Editing</span>
                    </div>
                </span>

                <span class="time-stamp">
                    <div class="title-wrap">
                        <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                        <span class="skill-name">Social Media Management & Viral Content Creation with AI</span>
                    </div>
                </span>

                <span class="time-stamp">
                    <div class="title-wrap">
                        <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                        <span class="skill-name">Creating Games with Python</span>
                    </div>
                </span>

                <span class="time-stamp">
                    <div class="title-wrap">
                        <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                        <span class="skill-name">Teamwork</span>
                    </div>
                </span>

                <span class="time-stamp">
                    <div class="title-wrap">
                        <fa-icon class="tickIcon orangetick" [icon]="tick"></fa-icon> 
                        <span class="skill-name">Certification of Completion</span>
                    </div>
                </span>
           
            </div>
    
        </div>
    
    </div>

    <h2 class="plan-age">Adults' Education (15+)</h2>
    <span class="quote"><em>Learn the highest paying skills with ease</em></span>

    <div class="plan-wrap">

    <div class="plan">
        <div class="top-info-wrap"
            style="background-image: url(../../assets/tech3.png);">
            <div class="top-info-before" style="background: rgba(0, 0, 0, 0.65);"></div>
            <span class="sale">
                Sale Ends in 2d
            </span>
            <div class="top-info">
                <h1 class="title">Front End Development</h1>
                <h2 class="course-price">
                    <span class="discount linethrough">$500</span>
                    <span class="discount">$199/month</span>
                </h2>
                
                <div class="interact-wrap">
                    <button class="interact" (click)="contact()">Apply</button>
                </div>
            </div>
        </div>

        <div class="stamp-wrap">

            <span class="time-stamp">
                <div class="title-wrap"> 
                    <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                    <span class="skill-name">Building Modern Websites with HTML & CSS</span>
                </div>
            </span>
    
            <span class="time-stamp">
                <div class="title-wrap">
                    <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                    <span class="skill-name">Responsive Mobile Web Design</span>
                </div>
            </span>
       
            <span class="time-stamp">
                <div class="title-wrap">
                    <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                    <span class="skill-name">JavaScript Programming</span>
                </div>
            </span>
    
            <span class="time-stamp">
                <div class="title-wrap">
                    <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                    <span class="skill-name">Creating Web Apps with Modern Front End Frameworks like Angular</span>
                </div>
            </span>

            <span class="time-stamp">
                <div class="title-wrap">
                    <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                    <span class="skill-name">GitHub & GIT</span>
                </div>
            </span>
    
            <span class="time-stamp">
                <div class="title-wrap">
                    <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                    <span class="skill-name">RxJs & NgRx State Management</span>
                </div>
            </span>

            <span class="time-stamp">
                <div class="title-wrap">
                    <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                    <span class="skill-name">IT Project Management - Agile & Scrum</span>
                </div>
            </span>

            <span class="time-stamp">
                <div class="title-wrap">
                    <fa-icon class="tickIcon orangetick" [icon]="tick"></fa-icon> 
                    <span class="skill-name">Certification of Completion</span>
                </div>
            </span>
            
            
        </div>

    </div>

    <div class="plan">

        <div class="top-info-wrap"
            style="background-image: url(../../assets/front-end-developer.jpg);">
            <div class="top-info-before" style="background: rgba(0, 0, 0, 0.68);"></div>
            <div class="top-info">
                <h1 class="title">Full Stack Development</h1>
                <h2 class="course-price">
                    <span class="discount linethrough">$600</span>
                    <span class="discount">$249/month</span>
                </h2>
                <span class="continue red">(After the Front End Course)</span>

                <div class="interact-wrap">
                    <button class="interact" (click)="contact()">Apply</button>
                </div>
            </div>
        </div>

        <div class="stamp-wrap">
            <span class="time-stamp">
                <div class="title-wrap">
                  <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                  <span class="skill-name">Backend Programming Fundamentals</span>
                </div>
            </span>
    
            <span class="time-stamp">
                <div class="title-wrap">
                  <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                  <span class="skill-name">Builidng Back-End web apps with Node.js</span>
                </div>
              </span>

              <span class="time-stamp">
                <div class="title-wrap">
                  <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                  <span class="skill-name">Websockets and Real-Time Communication</span>
                </div>
              </span>
            
              <span class="time-stamp">
                <div class="title-wrap">
                  <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                  <span class="skill-name">Building RESTful APIs With the Most Popular Backend Framework - Express</span>
                </div>
              </span>
            
              <span class="time-stamp">
                <div class="title-wrap">
                  <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                  <span class="skill-name">Working with MongoDB Database</span>
                </div>
              </span>
            
              <span class="time-stamp">
                <div class="title-wrap">
                  <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                  <span class="skill-name">Mongoose Integration in MongoDB</span>
                </div>
              </span>

              <span class="time-stamp">
                <div class="title-wrap">
                  <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                  <span class="skill-name">Error Handling & Backend Web Security</span>
                </div>
              </span>

              <span class="time-stamp">
                <div class="title-wrap">
                    <fa-icon class="tickIcon orangetick" [icon]="tick"></fa-icon> 
                    <span class="skill-name">Certification of Completion</span>
                </div>
            </span>

        </div>

    </div>

    </div>

    

</main>









<!--    

      
        
        <span class="time-stamp"><b>Weeks 11-13 :</b> Introduction to Front End Frameworks</span>
        <div class="learning-details">
            <li class="detail-li"><span class="detail-span">Dive into popular front-end framework like Angular</span></li>
            <li class="detail-li"><span class="detail-span">Learn the basics of component-based development</span></li>
        </div>

        <span class="time-stamp"><b>Weeks 14-16 :</b> Advanced Front End Framework Concepts</span>
        <div class="learning-details">
            <li class="detail-li"><span class="detail-span">Explore the fundamentals of State Management</span></li>
            <li class="detail-li"><span class="detail-span">Understand component lifecycle and data flow</span></li>
        </div>

        <span class="time-stamp"><b>Weeks 17-18 :</b> Final Project</span>
        <div class="learning-details">
            <li class="detail-li"><span class="detail-span">Learn the importance of testing in web development</span></li>
            <li class="detail-li"><span class="detail-span">Cover the basics of Server Side Rendering</span></li>
        </div>

        <span class="time-stamp"><b>Weeks 19-20:</b> Final Project</span>
        <div class="learning-details">
          <li class="detail-li"><span class="detail-span">Create a Final Project and enhance your portfolio</span></li>
          <li class="detail-li"><span class="detail-span">Engage in open discussions and seek clarification on concepts</span></li>
        </div> -->