main{
    padding: 40px;
}
.main-title, .sub-title{
    width: 100%;
    text-align: center;
}
.main-title{
    font-size: 60px;
    margin: 0 0 14px 0;
    text-decoration: underline;
    text-underline-offset: 5px;
    background: linear-gradient(to top, var(--pink), var(--orange));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
}
.main-title::before{
    position: absolute;
    content: "";
    bottom: 0;
    width: 140px;
    height: 3px;
    background: linear-gradient(to top, var(--pink), var(--orange));
}
.sub-title{
    font-size: 35px;
    margin: 0 0 40px 0;
    
}
.sub-title span{
    background: linear-gradient(to top, var(--pink), var(--orange)); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   
.plan-wrap{
    display: flex;
    justify-content: center;
}
.plan{
    min-width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* border: 4px solid #fff0e5; */
    box-shadow: 0 0px 10px rgb(226, 225, 225);
    padding: 15px;
    margin: 10px;
    /* background-color: #fbffe5; */
    width: max-content;
}
.course-price{
    color: #3d3d3d;
    text-align: center;
    margin: 10px 0;
}
.linethrough{
    padding-right: 10px;
    text-decoration: line-through;
}
.interact-wrap{
    display: flex;
    justify-content: center;
    padding: 15px 0 23px 0;
}
.interact{
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: block;
    width: 200px;
    padding: 8px 0;
    border-radius: 4px;
    border: none !important;
    outline: none !important;
    background: linear-gradient(to right, var(--blue), var(--pink)); ;
}

.title{
    margin: 15px 0 6px -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, var(--blue), var(--pink)); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: bold;
}
.week-count{
    font-size: 21px;
    display: block;
    padding-left: 7px;
    color: #3d3d3d;
}
.time-stamp{
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 19px;
    padding: 10px;
    font-weight: 400;
    transition: 300ms;
    border-radius: 5px;
    cursor: pointer;
}
.time-stamp:hover{
    background-color: rgb(244, 244, 244);
}
.dropdown{
    padding: 10px 0 0 35px;
    transition: 400ms ease-out;
}

.detail-li{
    color: rgb(90, 89, 89);
    list-style: none;
    max-width: 500px;
}
.detail-span{
    position: relative;
    background: linear-gradient(to top, black, rgb(135, 134, 134)); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 17px;
}
.detail-span::before{
    content: "- ";

}
.title-wrap{
    display: flex;
}
.show-week{
    color: rgb(90, 89, 89);
    padding-left: 7px;
    padding-bottom: 3px;
    font-size: 17px;
    text-underline-offset: 2px;
}

.weeks{
    display: none;
    font-weight: normal;
    
}
.tickIcon{
    color: rgb(55, 234, 24);
    padding-right: 12px;
}

/* .fact-wrap{
    display: flex;
    justify-content: center;
    padding: 0 0 45px 0;
}
.fact{
    padding: 0 10px;
}
.fact fa-icon{
    color: var(--orange);
}
.fact-span{
    font-size: 17px;
    padding-left: 6px;
    color: #3d3d3d;
    display: inline-block;
} */
.sale{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: rgb(255, 53, 53);
    color:white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px 0 10px 0;
}

@media screen and (max-width: 1200px){
    .title{
        margin-top: 30px;
    }
    .title-wrap{
        display: block;
    }
    .show-week{
        padding-left: 28px;
        display: block;
    }
}
@media screen and (max-width: 960px){
    .plan{
        width: 80%;
    }
    .plan-wrap{
        flex-wrap: wrap;
    }
    .title{
        margin-top: 15px;
    }
}
@media screen and (max-width: 700px){
    .title{
        margin-top: 30px;
    }
    main{
        margin: 40px 10px;
    }
    .plan{
        margin: 10px 0;
    }
    .time-stamp{
        padding: 5px;
    }
    .sub-title{
        box-sizing: border-box;
        padding: 0 10px 0 10px;
    }
}
@media screen and (max-width: 600px){
    main{
        padding: 0;
        margin: 40px 20px 40px 40px;
    }
    .main-title{
        font-size: 42px;
    }
    .sub-title{
        font-size: 24px;
    }
}
@media screen and (max-width: 500px){
    .interact{
        width: 180px;
        padding: 7px 0;
        font-size: 15px;
    }
    .plan{
        width: 100%;
    }
    .title{
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
    .title span{
        text-align: center;
        display: block;
    }
    .course-price{
        font-size: 22px;
    }
    .title-wrap{
        font-size: 17px;
    }
    .detail-span{
        font-size: 15px;
    }
    .detail-li{
        margin-bottom: 5px;
    }
    .dropdown{
        padding: 5px 0 0 30px;
    }
}
@media screen and (max-width: 415px){
    main{
        margin: 40px 10px 40px 20px;
    }
    .plan{
        width: 100%;
    }
    .title span{
        width: 80%;
    }
}