<main>
    <h1 class="main-title">Paths</h1>
    <h2 class="sub-title"><span>Learning from mentors has never been </span> <span> this affordable.</span></h2>
    
<div class="plan-wrap">

    <div class="plan">
        <span class="sale">
            {{36 - date}}d Sale 
        </span>
        <h1 class="title"><span>Front End Development</span></h1>
        <h2 class="course-price">
            <span class="discount linethrough">$499</span>
            <span class="discount">$199/month</span>
        </h2>
        
        <div class="interact-wrap">
            <button class="interact" (click)="contact()">Contact</button>
        </div>

        <div class="stamp-wrap">

            <span class="time-stamp">
                <div class="title-wrap"> 
                    <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                    <span class="skill-name">Building Modern Websites with HTML & CSS</span>
                </div>
            </span>
    
            <span class="time-stamp">
                <div class="title-wrap">
                    <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                    <span class="skill-name">Responsive Mobile Web Design</span>
                </div>
            </span>
       
            <span class="time-stamp">
                <div class="title-wrap">
                    <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                    <span class="skill-name">JavaScript Programming</span>
                </div>
            </span>
    
            <span class="time-stamp">
                <div class="title-wrap">
                    <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                    <span class="skill-name">Creating Web Apps with Modern Front End Frameworks like Angular</span>
                </div>
            </span>

            <span class="time-stamp">
                <div class="title-wrap">
                    <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                    <span class="skill-name">GitHub & GIT</span>
                </div>
            </span>
    
            <span class="time-stamp">
                <div class="title-wrap">
                    <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                    <span class="skill-name">RxJs & NgRx State Management</span>
                </div>
            </span>

            <span class="time-stamp">
                <div class="title-wrap">
                    <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                    <span class="skill-name">IT Project Management - Agile & Scrum</span>
                </div>
            </span>
            
            
        </div>

    </div>

    <div class="plan">
        <span class="sale">
            {{36 - date}}d Sale 
        </span>
        <h1 class="title"><span>Full Stack Development</span></h1>
        <span class="continue">(Continue the Front End Course)</span>
        <h2 class="course-price">
            <span class="discount linethrough">$599</span>
            <span class="discount">$249/month</span>
        </h2>
        
        <div class="interact-wrap" (click)="contact()">
            <button class="interact">Contact</button>
        </div>

        <div class="stamp-wrap">
            <span class="time-stamp">
                <div class="title-wrap">
                  <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                  <span class="skill-name">Backend Programming Fundamentals</span>
                </div>
            </span>
    
            <span class="time-stamp">
                <div class="title-wrap">
                  <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                  <span class="skill-name">Builidng Back-End web apps with Node.js</span>
                </div>
              </span>

              <span class="time-stamp">
                <div class="title-wrap">
                  <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                  <span class="skill-name">Websockets and Real-Time Communication</span>
                </div>
              </span>
            
              <span class="time-stamp">
                <div class="title-wrap">
                  <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                  <span class="skill-name">Building RESTful APIs With the Most Popular Backend Framework - Express</span>
                </div>
              </span>
            
              <span class="time-stamp">
                <div class="title-wrap">
                  <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                  <span class="skill-name">Working with MongoDB Database</span>
                </div>
              </span>
            
              <span class="time-stamp">
                <div class="title-wrap">
                  <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                  <span class="skill-name">Mongoose Integration in MongoDB</span>
                </div>
              </span>

              <span class="time-stamp">
                <div class="title-wrap">
                  <fa-icon class="tickIcon" [icon]="tick"></fa-icon> 
                  <span class="skill-name">Error Handling & Backend Web Security</span>
                </div>
              </span>

        </div>

    </div>

    </div>
</main>









<!--    

      
        
        <span class="time-stamp"><b>Weeks 11-13 :</b> Introduction to Front End Frameworks</span>
        <div class="learning-details">
            <li class="detail-li"><span class="detail-span">Dive into popular front-end framework like Angular</span></li>
            <li class="detail-li"><span class="detail-span">Learn the basics of component-based development</span></li>
        </div>

        <span class="time-stamp"><b>Weeks 14-16 :</b> Advanced Front End Framework Concepts</span>
        <div class="learning-details">
            <li class="detail-li"><span class="detail-span">Explore the fundamentals of State Management</span></li>
            <li class="detail-li"><span class="detail-span">Understand component lifecycle and data flow</span></li>
        </div>

        <span class="time-stamp"><b>Weeks 17-18 :</b> Final Project</span>
        <div class="learning-details">
            <li class="detail-li"><span class="detail-span">Learn the importance of testing in web development</span></li>
            <li class="detail-li"><span class="detail-span">Cover the basics of Server Side Rendering</span></li>
        </div>

        <span class="time-stamp"><b>Weeks 19-20:</b> Final Project</span>
        <div class="learning-details">
          <li class="detail-li"><span class="detail-span">Create a Final Project and enhance your portfolio</span></li>
          <li class="detail-li"><span class="detail-span">Engage in open discussions and seek clarification on concepts</span></li>
        </div> -->